html{
    background-color: rgb(230,230,230);
}

header{
    background-color: rgb(29, 11, 142);
    padding: 10px 0;
    text-align:center;
    font-size: 30px;
    border-radius: 16px;
}

h1{
    color:rgb(255, 255, 255);
}
*{
    padding: 0;
    margin: 5px;
}

header nav ul{
    font-size: 20px;
    list-style-type: none;
    padding: 0;
}

header nav ul li{
    display: inline;
    margin: 0 10px;
}

header nav ul li a{
    text-decoration: underline;
    color: rgb(255, 255, 255);
}

#comedia{
    text-decoration: underline rgb(255, 0, 157);
}
main{
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: rgb(230,230,230);
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #816c6c;
}

#a{
    height: 350px;
    width: 300px;
}

#texto1{
    font-size:larger;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
}

#b{
    height: 350px;
    width: 300px;
}

#texto2{
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
}

#d{
    height: 350px;
    width: 300px;
}

#texto4{
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
}

footer{
    background-color: rgb(29, 11, 142);
    font-size: 15px;
    border-radius: 16px;
    text-align: center;
    color: #fff;
}