* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 20px;
   
}
header{
    height: 100px;
    background-size: 100%;
    padding: 1rem 0;
    background-color: rgb(228, 123, 165);
    font-family: Didot, serif;
}
nav a{
    
    color: white; 
    display: inline-flex;
    padding-left: 50px;
    margin-right: 50px;
    text-decoration: #333;

}
#h1prin{
    color: white;
}
h1{
    color:rgb(0, 0, 0);
 
}

  
  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .fotos {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .fotos img {
    width: 150px;
    height: auto;
    border-radius: 8px;
    margin-right: 20px;
  }
  
  .fotos p {
    flex: 1;
    font-size: 16px;
    color: #333;
  }
  footer{
    background-color: rgb(228, 123, 165);
    background-size: 100%;
    padding: 1rem 0;
  }