header {
    margin: 5%;
    padding: 0%;
    text-align: center;
}

h1 {
    text-align: center;
}

#landingpage {
    margin-right: 50%;
}

.boxes {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 900px;
    margin: 0 auto;
}

.inst {
    display: flex;
    align-items: center;
    background-color: rgb(241, 235, 203);
    padding: 20px;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inst img {
    width: 200px;
    height: 170px;
    border: 3%;
    margin-right: 20px;
}

.inst p {
    font-size: larger;
    color: black;
    margin-left: 10%;
}
/* Style The Dropdown Button */
.dropbtn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 16px;
    border:black;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #d6d6d6;
}