body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

/* Tela principal */
.main {
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    position: relative;
}

/* Bolinha que abre a sidebar */
.profile-circle {
    width: 40px;
    height: 40px;
    background: #bfbfbf;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    transition: opacity 0.2s;
}
.profile-circle:hover { opacity: 0.8; }

/* Sidebar */
.sidebar {
    width: 35vw;
    height: 100vh;
    background: #38C8B2;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform .4s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    box-sizing: border-box;
}

/* Sidebar aberta */
.sidebar.show {
    transform: translateX(0);
}

/* Seta de fechar */
.arrow {
    position: absolute;
    top: 15px;
    left: 15px;
    background: #7c6f6f;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: none;
}

/* FOTO DE PERFIL / ÍCONE */
.circle {
    width: 220px;
    height: 220px;
    background: #d6d6d6;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    margin-top: -25px;
}

.upload-icon {
    width: 85px;
    height: 85px;
    z-index: 1;
}

.profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

/* Hover que mostra texto */
.overlay-text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    font-weight: 700;
    color: #fff;

    background: rgba(0,0,0,0.45);
    opacity: 0;
    transition: opacity .3s ease;
}

.circle:hover .overlay-text {
    opacity: 1;
}

/* Hover → some com o ícone */
.circle:hover .upload-icon {
    opacity: 0;
}

/* input escondido */
#input-file {
    display: none;
}

/* Caixinhas */
.top-boxes {
    display: flex;
    gap: 10px;
    width: 75%;
    margin-top: 10px;
}
.box {
    height: 30px;
    background: #ffffff;
    flex: 1;
}
.big-box {
    width: 75%;
    height: 55%;
    background: #9b8989;
    margin-top: 10px;
}
.bottom-box {
    width: 75%;
    height: 30px;
    background: #ffffff;
    margin-top: 10px;
    margin-bottom: 5px;
}
.footer-box {
    width: 40%;
    height: 35px;
    background: #acf3e8;;
    margin-top: 5px;
    margin-bottom: 10px;
}
