body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header.hero {
    background-color: snow;
    color: rgb(0, 0, 0);
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.logo-container {
    position: absolute;
    top: 30px;
    left: 45px;
}

#sf {
    height: 73px;
    width: 335px;
}

.hero-content {
    max-width: 600px;
    margin: auto;
    color: black;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: red;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 1rem;
}

section {
    padding: 60px 20px;
    text-align: center;
}

.about-section {
    background-color: #f4f4f4;
}

.schedule-section {
    background-color: #ffffff;
}

.schedule-item {
    margin-bottom: 20px;
}

.schedule-item h3 {
    font-size: 1.5rem;
    color: #ff5722;
}

.schedule-item p {
    font-size: 1rem;
}

.contact-section {
    background-color: #f4f4f4;
}

footer.footer {
    background-color: black;
    color: white;
    padding: 20px 0;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    margin-right: 50px; /* Adiciona espaço entre os itens de navegação */
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    justify-content: space-between;
}

li a:hover {
    background-color: #ffffff;
}

.nav {
    position: absolute;
    right: 45px;
    background-color: #ffffff;
}
