#b {
    width: 50%;
    padding: 12px;
    background-color: #3f86e8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 16px;
    margin-left: 80px;
    display: flex;
    margin-bottom: 10px;
    margin-top: 150px;
    justify-content: center;
}

#b:hover {
    background-color: #0568b8;
    transform: scale(1.05);
}

.form-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 380px;
    position: relative;
    display: flex;
    margin-left: 33.5%;
    height: 380px;
}

.contact-info {
    font-size: 0.9rem;
    color: #000000;
    display: flex;
    margin-left: 67%;
}

.contact-info span {
    margin-right: 1rem;
}

label {
    color: #333;
    margin-bottom: 5px;
    display: block;
    font-size: 16px;
}