html{
    background-color: rgb(230, 230, 230);
}

* {
    padding: 0;
    margin: 5px;
}

header{
    background-color: rgb(29, 11, 142);
    padding: 10px 0;
    text-align: center;
    font-size: 30px;
    border-radius: 16px;
    color: white;
}

header nav ul{
    font-size: 20px;
    list-style-type: none;
    padding: 0;
}

header nav ul li{
    display: inline;
    margin: 0 10px;
}

header nav ul li a{
    text-decoration: underline;
    color: rgb(255, 255, 255);
}

#terror{
    text-decoration: underline rgb(255, 0, 157);
}

main{
    margin-top: 20px;
}

table{
    border-collapse: collapse;
    width: 100%;
    background-color: rgb(230, 230, 230);
}

th{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid;
}

#panico{
    width: 250px;
    height: 300px;
}

#hereditario{
    width: 250px;
    height: 300px;
}

#telefone{
    width: 250px;
    height: 300px;
}

.texto{
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
}

footer{
    background-color: rgb(29, 11, 142);
    font-size: 15px;
    border-radius: 16px;
    text-align: center;
    color: #fff;
}