* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: white;
    text-align: center;
    background: url("fundoregras2.png") no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 35px;
    margin-bottom: 30px;
}

.box {
    background-color: rgb(56, 6, 56);
    padding: 30px 60px;
    border-radius: 20px;
    margin-bottom: 30px;
    width: fit-content; /* mantém a caixa compacta */
    text-align: left; /* texto à esquerda */
    margin-left: 0; /* gruda na esquerda se precisar */
}

ol {
    list-style: decimal;
    color: white;
    font-size: 1.3em;
    padding-left: 20px; /* recuo clássico da lista */
    margin: 0;
}

ol li {
    margin-bottom: 15px;
    text-align: left; /* força cada item à esquerda */
}


.voltar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 12px;
    cursor: pointer;
    color: white;
}

.botoes {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.voltar, .ir {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1em;
    cursor: pointer;
    color: white;
    transition: transform 0.2s;
}

.voltar:hover, .ir:hover {
    transform: scale(1.05);
}

.voltar img, .ir img {
    width: 30px;
    height: 30px;
}

span {
    color:white;
}

a {
    text-decoration: none;
}