body{
    font-family: 'Times New Roman', Times, serif;
    color:rgb(0, 0, 0);
    background-color: rgba(216, 193, 157, 0.975);
}

header{
    width: 100%;
    height: 56px;
    font-size: 50px;
    text-align: center;
}

main{
    width: 100%;
    height: 350px;
}

h1{
    text-align: center;
}

#d1 {
    border: 1px solid black;
    padding: 10px;
    height: 160px;
    text-align: justify;
    width:22%;  
    float:left;
    margin-left: 2%;
}

#d2 {
    border: 1px solid black;
    padding:10px;
    height: 160px;
    text-align:justify;
    width: 22%;  
    float: left;
    margin-left: 12%;
}

p{
    color:black;
    margin-left: 2%;
}

hr{
    color: black;
}

h2{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#p1{
    color:black;
    margin-left: 2%;
}

#f1{
height: 185px;
width: 185px;
border-radius: 15%;
display: flex;
margin-left: 82%;
}

#twknd{
    height: 175px;
    width: 175px;
    margin-left: 2%;
}

#m5{
    height: 175px;
    width: 175px;
    margin-left: 14%;
}

#am{
    height: 175px;
    width: 175px;
    margin-left: 12%;
}

footer{
    background-color: rgba(215, 177, 115, 0.975);
    margin-top: 20%;
    margin-left: 2%;
}

#t{
    display: flex;
    float: left;
    margin-top: 180px;
    margin-left: 14%;
}
#m{
    display: flex;
    float: left;
    margin-top: 180px;
    margin-left: 14%;
}

#a{
    display: flex;
    float: right;
    margin-top: 180px;
    margin-left: 12%;
}