#abacate {
    color: pink;
}

#loremipsum {
    color: blue;
    margin-left: 40%;
{.} ´çpl6okm,}

.fruta {
    color:blueviolet;
}

#pn {
    width: 180px;
    height: 150px;
    margin-left: 10%;
    border-radius: 20%;
    display: block;
}

body {
    background-color: aliceblue;
}